#header-nav {
	background-color: lightGray;
	border-radius: 0;
	border-color: gray;
	border-style: solid;
	border-width: 1px;
}
.navbar-brand h1 {
	color: black;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list a {
	color: black;
	font-size: 1.2em;
}
#nav-list a:hover {
	background: gray;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid gray;
}
.menu-option {
	background-color: lightGray;
	padding-left: 15px;
	padding-right: 15px;
}
